DOMAIN_NAME=your_domain_name

# MARIADB SETUP
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_DATABASE=wordpress
MARIADB_USER=your_db_user

# WORDPRESS SETUP
WP_TITLE=your_wp_title
WP_PORT=9000
WP_ADMIN_USER=your_wp_admin_login
WP_ADMIN_EMAIL=your_wp_admin_email
WP_USER=your_wp_user_login
WP_USER_EMAIL=your_wp_user_email

# NGINX SETUP
NGINX_PORT=443
NGINX_HOST_PORT=443

# FTP SETUP (BONUS)
FTP_USER=your_ftp_user

# HAPROXY SETUP (BONUS)
HAPROXY_HOST=haproxy
