DOMAIN_NAME=yourlogin.42.fr

# MYSQL SETUP
MYSQL_USER=your_db_user
MYSQL_DATABASE=your_db_name
MYSQL_HOSTNAME=your_ddb_hostname

# WORDPRESS SETUP
WP_TITLE=your_wp_title
WP_ADMIN_USER=your_wp_admin_name
WP_ADMIN_EMAIL=your_wp_admin_email@student.42.fr
WP_USER=your_wp_user_name
WP_USER_EMAIL=your_wp_user_email@student.42.fr

# FTP SETUP (BONUS)
FTP_USER=your_ftp_user
